*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
}

:root {
  --black-tefi: #2a1e35;
  --black-tefi-rgba: rgba(42, 30, 53, 0.2);
  --green-tefi: #71c9bf;
  --shadow-tefi: 0 4px 12px 0 var(--black-tefi-rgba);
}

a{
  text-decoration: none;
}

h2{
  font-family: 'roboto';
  color: var(--black-tefi)
}

h3{
  font-family: 'roboto-regular';
  color: var(--black-tefi)
}

p{
  font-family: 'roboto-regular';
  color: var(--black-tefi)
}